<section class="user-dropdown-menu-container">

<div class="user-dropdown-menu-header">
    <p>Edit Profile Below<p>
  </div>

  <div  class="user-dropdown-menu-body">
    <form ng-submit="updateUser(userName)">
        <input type="text" ng-model="userName.firstname" ng-model-options="{updateOn: 'submit'}">
        </input>

        <input type="text" ng-model="userName.lastname" ng-model-options="{updateOn: 'submit'}">
        </input>

        <input type="text" ng-model="userName.email" ng-model-options="{updateOn: 'submit'}">
        </input>

        <input type="password" ng-model="userName.password" placeholder="New Password Here!" ng-model-options="{updateOn: 'submit'}">
        </input>

        <input type="text" ng-model="userName.jobTitle" ng-model-options="{updateOn: 'submit'}" placeholder="Job Title">
        </input>
        </div>
        <div class="user-dropdown-menu-footer">
        <button type="submit" name="" ng-click="updateUser(userName)">Save Profile</button>
    </form>


    <input type="button" name="Logout" ng-click="logout()" value="Logout">
  </div>
  </section>
