<div id="tasks-container">

    <div class="task-input-header">

        <form ng-submit="addTask(task)" class="task-input-box-form">
            <input  type="text" ng-model="task.title" placeholder="Add a Task Here!">
        </form>
    </div>

<div class="task-list-container">

    <ul class="sortable">
        <div class="task-list" ng-repeat="task in tasks" sortable>
            <tasks-list task="task" ng-click='selectTask(task)'></tasks-list>
        </div>
    </ul>
  </div>

    <section class="right-task-menu-popup" ng-show="showRTMP">

      <div class="right-task-menu-popup-header">
        <img src="/assets/removeX(32px).png" ng-click="showRTMP = false">
      </div>

      <form ng-submit="updateTask(selectedTask)">

      <div class="right-task-menu-popup-body">

            <input type="text" ng-model="selectedTask.title" ng-model-options="{updateOn: 'submit'}">
            </input>
        </form>

        <div ng-model="formatDate" class="right-task-menu-popup-dates">
            Created At: {{selectedTask.createdAt | date: 'fullDate'}}

        <form ng-submit="updateDeadline(selectedTask)">
            <div ng-model="formatDate">
                Deadline:
                <input class="datePicker" type="button" datepicker value="{{selectedTask.deadline | date: 'fullDate'}}">
              </input><img  src="">
            </div>
        </form>
      </div>
    </div>


    </section>
  </div>
