<div id="tasks-container">

    <div class="task-input-box">
        <img src="/assets/addPlus(32px).png">
        <form ng-submit="addTask(task)">
            <input id="task-input-box-form" type="text" ng-model="task.title" placeholder="Add a Task Here!">
        </form>
    </div>

    <ul class="sortable">
        <div class="task-list" ng-repeat="task in tasks" sortable>
            <tasks-list task="task" ng-click='selectTask(task)'></tasks-list>
        </div>
    </ul>

    <section class="right-task-menu-popup" style="width: 500px" ng-show="showRTMP"><img src="/assets/removeX(32px).png" ng-click="showRTMP = false">

        <form ng-submit="updateTask(selectedTask)">
            Title:
            <input type="text" ng-model="selectedTask.title" ng-model-options="{updateOn: 'submit'}">
            </input>
        </form>

        Assigned Users: {{selectedTask.users}}
        <div ng-model="formatDate">
            Created At: {{formatDate(selectedTask.createdAt)}}
        </div>

        <form ng-submit="updateDeadline(selectedTask)">
            <div ng-model="formatDate">
                Deadline:
                <input class="datePicker" type="button" datepicker value="{{formatDate(selectedTask.deadline)}}">
                </input>
            </div>
            </input>
        </form>

    </section>
  </div>
