/*
Stylesheet for TASKMAN Single-Page Application
Author: Mark Chapman
*/



/****************STYLES ******************/

* {
/*border: 1px solid red;*/
font-family: Calibri, sans-serif;
}

html body {
  height: 100%;
  background-color: #ecf0f1;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

a {
  text-decoration: none;
  color: #ecf0f1;

}


/*****************LOGIN*******************/
.login-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #2c3e50;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.login-container input[type="text"], .login-container input[type="password"] {
  margin: 5px 0;
  border: none;
  /*border-radius: 5px;*/
  outline: none;
  transition: 0.25s;
  box-sizing: border-box;
  background-color: #ecf0f1;
  padding: 10px;
}

.login-container input:focus {
  outline:3px solid #e74c3c;
}

.label-text {
  font-size: 2em;
}

.taskman-font {
  color: #e74c3c;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  color: #ecf0f1;
  width: 40%;
margin-bottom: 5px;
}

.login-mid-border{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;

}

.login-mid-border>button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 15px 30px;
  text-decoration: none;
  /*margin: 4px 2px;*/
  cursor: pointer;
  width: 49%
}

.registration-container {
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.registration-form {
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.name-form {
display: flex;
flex-direction: row;
justify-content: space-between;;
align-items: center;
flex-wrap: nowrap;
}
.name-form>input {
  width: 49%;
}

.registration-form>button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}


/*****************HEADER*******************/

header {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  /*height: 60px;*/
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-family: Calibri, sans-serif;

}

#team-id-card {
  font-size: 24px;
  width: 200px;
  height: 100%;
  /*border-right: 1px solid #212121;*/
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  color: #e74c3c;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 5px;

}

.team-id-card-label {
  text-align: left;
  width: 99%;
  margin-left: 25px;

}

.team-dropdown-arrow {
}

#user-id-card {
width: 20%;
font-size: 24px;
/*padding-right: 1em;*/
display: flex;
flex-direction: row;
}

.user-dropdown-arrow {
  margin-right: 10px;
}

/**************DROPOWN MENUS******************/



.team-uparrow-menu {
width:250px;
min-height:40px;
background: #ecf0f1;
color: #2c3e50;
padding:5px;
position:fixed;
word-wrap:break-word;
-moz-border-radius:5px; /
-webkit-border-radius:5px;
border-radius:5px;
margin-bottom:2em;
z-index: 1000;
box-shadow: 1px 1px 5px #888888;
}

.team-uparrow-menu:after{
content:'';
display:block;
position: absolute;
top:-20px;
left:170px;
width:0;
height:0;
border-color: transparent transparent #ecf0f1 transparent;
border-style: solid;
border-width: 10px;
}

.user-uparrow-menu { /*min height of DIV should be set to at least 2x the width of the arrow*/
background: #ecf0f1;
color: #2c3e50;
padding:5px;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
margin-bottom:2em;
z-index: 1000;
box-shadow: 1px 1px 5px #888888;
width:250px; /*add some nice CSS3 round corners*/
min-height:40px;
position:fixed;
word-wrap:break-word;
border-radius: 5px;
right: 124px;
}

.user-uparrow-menu:after{ /*should be set to -border-width x 2 */
  content:'';
height:0;
border-color: transparent transparent #ecf0f1 transparent;
/*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;
  /*arrow added to uparrowdiv DIV*/
width:0;
  /*arrow added to uparrowdiv DIV*/
top:-20px;
  /*arrow added to uparrowdiv DIV*/
position:absolute; /*should be set to -border-width x 2 */
  left:90px;
}

.user-dropdown-menu-container {
  padding: 10px;
}

.user-dropdown-menu-header {
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 5px;
}

.user-dropdown-menu-body{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 1;
  margin-bottom: 5px;
}

.user-dropdown-menu-body input[type=text], .user-dropdown-menu-body input[type=password] {
  background-color: transparent;
  width: 95%;
  margin-bottom: 5px;
  border: none;
  padding-left: 10px;
}

.user-dropdown-menu-body input[type=text]:hover, .user-dropdown-menu-body input[type=password]:hover {
background-color: rgba(231, 76, 60, 0.76);
}

.user-dropdown-menu-body input[type=text]:focus, .user-dropdown-menu-body input[type=password]:focus {
  outline:3px solid #e74c3c;
}

.user-dropdown-menu-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

.user-dropdown-menu-footer button,
.user-dropdown-menu-footer input[type=button] {
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  width: 49%;
}

.user-dropdown-menu-footer button:hover,
.user-dropdown-menu-footer input[type=button]:hover {
background-color: rgba(231, 76, 60, 0.76);
}


/*****************LEFT MENU*******************/

.left-menu-panel {
background-color: #2980B9;
height: 92vh;
max-width: 20%;
min-width: 200px;
float: left;
}

.left-menu-wrapper {
  color: #ecf0f1;
  font-size: 18px;
  line-height: 1.5;
}

.navbar-menu>ul>li:hover {
  background-color: #2e8ecf;
}



.navbar-menu {
  padding-left: 1em;
  margin-top: 30px;
}

.navbar-logo {
  display: inline;
  position: absolute;;
  bottom: 20px;
  margin-left: 15px;
}

.activeState {
  background-color: #3498DB;
}

/*****************BODY*******************/

.content-wrapper {
  flex-direction: column;
}

.main-viewport {
  width: 100%;
}

/*************DASHBOARD***************/


#dashboard-container {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  margin-top: 40px;
}

.todays-headline {
  font-size: 2.5em;
  border-bottom: 1px solid #2c3e50;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#project-title {
  font-size: 1.5em;
  font-weight: bold;
}

.dashboard-project-list {
  border-bottom: 1px solid #2c3e50;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dashboard-task-list {
padding: 5px 0 0 10px;
cursor: pointer;
}
.dashboard-task-list:hover {
/*background-color: rgba(231, 76, 60, 0.76);*/
}

.due-date{
  padding-left: 32px;
}

.dashboard-deadline {
  background-color: transparent;
  border: none;
}

.dashboard-task-list input[type=button]:focus{
  outline:3px solid #e74c3c;
}

/*************PROJECTS***************/


#project-container {
  color: #2c3e50;
  display: flex;
  flex-direction: column;;
}

.project-input-header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

.project-input-header input[type=text]{
  width: 80%;
  border: none;
  outline: none;
  transition: 0.25s;
  /*box-sizing: border-box;*/
  padding: 5px;
  background-color: #ecf0f1;
  background-image: url('/assets/addPlus(32px).png');
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding-left: 60px;
  margin: 40px 0px 0px 64px;
}


.project-input-header input[type=text]:focus{
  outline:3px solid #e74c3c;
}


.project-input-header>img{
  height: 32px;
  justify-content: center;
  margin-top: 5px;
}


.project-input-box-form {
  font-size: 2em;
  margin-left: 15px;
  border: none;
  width: 100%;
}

.project-list-container {
  width: 100%;
  padding: 0 80px;
  margin-top: 10px;

}

.project-list {
  cursor: pointer;
  border-bottom: 1px solid #2c3e50;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;

}

.project-list-item {
font-size: 1.5em;
font-weight: bold;
padding: 5px;


}

.project-list-item:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.project-list-description {
  padding:10px 0 0 20px;
}

/*************PROJECT POPUP***************/


.right-project-menu-popup {
width: 500px;
height: 92%;
right: 0px;
top: 60px;
bottom: 0px;
z-index: 330;
position: absolute;
background-color: #ecf0f1;
border-left: 1px solid #2c3e50;
}

.right-project-menu-popup-header {
  padding: 15px 0px 15px 15px
}

.right-project-menu-popup-header>img {
  cursor: pointer;
}

.right-project-menu-popup-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 15px;
}
.project-menu-form{
  width: 100%;
}

.project-menu-form input[type=text] {
  font-size: 1.5em;
  width:93%;
  border: none;
  outline: none;
  transition: 0.25s;
  /*box-sizing: border-box;*/
  padding: 10px;
  background-color: #ecf0f1;
  margin-bottom: 10px;
}

.project-menu-form input[type=text]:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.project-menu-form input:focus {
  outline:3px solid #e74c3c;
}

.project-menu-task-selections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  padding: 5px;
}

.project-menu-task-selections select {
  flex: 2;
  background-color: #ecf0f1;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.project-menu-task-selections select:focus {
  outline:3px solid #e74c3c;
}

.project-menu-task-selections select:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.project-menu-task-selections button {
  background-color: #ecf0f1;
  background-image: url('/assets/removeX(16px).png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  border-radius: 5px;
}

.project-menu-task-selections button:hover {
  background-color: rgba(231, 76, 60, 0.76);
}
.project-menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 10px 15px;
}
.project-menu-footer button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 15px 0px 15px;
  text-decoration: none;
  /*margin: 4px 2px;*/
  cursor: pointer;  flex: 1;
  margin: 0 5px 0 5px
}


/*************TASKS***************/


#tasks-container {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}


.task-input-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.task-input-header input[type=text] {
  width: 80%;
  border: none;
  outline: none;
  transition: 0.25s;
  /*box-sizing: border-box;*/
  padding: 5px;
  background-color: #ecf0f1;
  background-image: url('/assets/addPlus(32px).png');
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding-left: 60px;
  color: #2c3e50;
margin: 40px 0px 0px 64px;
}

.task-input-header input[type=text]:focus{
  outline:3px solid #e74c3c;
}

.task-input-header>img{
  height: 32px;
  justify-content: center;
  margin-top: 5px;
}


.task-input-box-form {
  font-size: 2em;
  margin-left: 15px;
  border: none;
  width: 100%;
}

.task-list-container {
  width: 100%;
  padding: 0 80px;
  margin-top: 10px;

}

.task-list{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.task-list-item {
padding: 5px;
}

.task-list-item:hover {
background-color: rgba(231, 76, 60, 0.76);
}

.checked-out {
  text-decoration: line-through;
}
.checkbox {
  margin-right: 10px;
}

.remove-task-x {
position: absolute;
left: 40%;
}

/*************TASK POPUP***************/


.right-task-menu-popup {
width: 500px;
height: 92%;
right: 0px;
top: 60px;
bottom: 0px;
z-index: 330;
position: absolute;
background-color: #ecf0f1;
border-left: 1px solid #2c3e50;
}

.right-task-menu-popup-header {
  padding: 15px 0px 15px 15px
}

.right-task-menu-popup-header>img {
  cursor: pointer;
}

.right-task-menu-popup-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 15px;
}

.right-task-menu-popup-body input[type=text] {
  font-size: 1.5em;
  width:93%;
  border: none;
  outline: none;
  transition: 0.25s;
  /*box-sizing: border-box;*/
  padding: 10px;
  background-color: #ecf0f1;
  margin-bottom: 10px;
  color: #2c3e50;


}

.right-task-menu-popup-body input[type=text]:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.right-task-menu-popup-body input:focus {
  outline:3px solid #e74c3c;
}

.right-task-menu-popup-dates {
line-height: 25px;
}


/*************DATEPICKER***************/


.datePicker {
  border: none;
  padding-left: 10px;
  background-color: #ecf0f1;
  color: #2c3e50;
}

.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Calibri, sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  background-color:#ecf0f1;
}

.ui-datepicker table {
  width: 100%;
}


.ui-datepicker-header {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-weight: bold;
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-header>a {
  color: #ecf0f1;
}

.ui-datepicker-title {
    text-align: center;
}


.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 600%;
    overflow: hidden;
    /*background-image: url('/assets/scrollright.png');
    background-repeat: no-repeat;*/
}
.ui-datepicker-prev {
    float: left;
    background-position: center 0px;
    background-image: url('/assets/scrollleft.png');
    background-repeat: no-repeat;
    background-position: center;

}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
    background-image: url('/assets/scrollright.png');
    background-repeat: no-repeat;
    background-position: center;

}

.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
    padding: 0;
    border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
    background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
    background: rgba(231, 76, 60, 0.76);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px rgba(231, 76, 60, 0.76);
    filter: dropshadow(color=rgba(231, 76, 60, 0.76), offx=0, offy=1);
    border: 0px solid rgba(231, 76, 60, 0.76);
    position: relative;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}

.ui-datepicker-buttonpane {
  background-color: #2c3e50;
}

.ui-datepicker-close, .ui-datepicker-current{
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  width: 50%;
  padding: 3px;
}
.ui-datepicker-trigger {
  background-color: transparent;
  border: none;
}
.ui-datepicker-close:hover, .ui-datepicker-current:hover {
background-color: rgba(231, 76, 60, 0.76);
}
