/*
Stylesheet for TASKMAN Single-Page Application
Author: Mark Chapman
*/



/****************STYLES ******************/

* {
/*border: 1px solid red;*/
font-family: Calibri, sans-serif;
}

html body {
  height: 100%;
  background-color: #ecf0f1;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

a {
  text-decoration: none;
  color: #ecf0f1;

}


/*****************LOGIN*******************/
.login-modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #2c3e50;
  z-index: 1000;
  top: 0px;
  left: 0px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.login-container input[type="text"], input[type="password"] {
  padding:10px;
  margin: 5px 0;
  border: none;
  /*border-radius: 5px;*/
  outline: none;
  transition: 0.25s;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

.login-container input:focus {
  outline:3px solid #e74c3c;
}

.label-text {
  font-size: 2em;
}

.taskman-font {
  color: #e74c3c;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  color: #ecf0f1;
  width: 40%;
margin-bottom: 5px;
}

.login-mid-border{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;

}

.login-mid-border>button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 15px 30px;
  text-decoration: none;
  /*margin: 4px 2px;*/
  cursor: pointer;
  width: 49%
}

.registration-container {
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.registration-form {
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.name-form {
display: flex;
flex-direction: row;
justify-content: space-between;;
align-items: center;
flex-wrap: nowrap;
}
.name-form>input {
  width: 49%;
}

.registration-form>button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}


/*****************HEADER*******************/

header {
  background-color: #2c3e50;
  color: #ecf0f1;
  width: 100%;
  /*height: 60px;*/
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-family: Calibri, sans-serif;

}

#team-id-card {
  font-size: 24px;
  width: 200px;
  height: 100%;
  border-right: 1px solid #212121;
  padding-left: 10px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.team-id-card-label {
  width: 99%;
  text-align: center;

}

.team-dropdown-arrow {
}

#user-id-card {
width: 20%;
font-size: 24px;
/*padding-right: 1em;*/
display: flex;
flex-direction: row;
}

.user-dropdown-arrow {
  margin-right: 10px;
}

.team-uparrow-menu {
width:250px;
min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
background: #ecf0f1;
color: #2c3e50;
padding:5px;
position:fixed;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
margin-bottom:2em;
z-index: 1000;
box-shadow: 1px 1px 5px #888888;
}

.team-uparrow-menu:after{ /*arrow added to uparrowdiv DIV*/
content:'';
display:block;
position: absolute;
top:-20px; /*should be set to -border-width x 2 */
left:170px;
width:0;
height:0;
border-color: transparent transparent #ecf0f1 transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;

}

.user-uparrow-menu {
width:250px;
min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
background: #ecf0f1;
color: #2c3e50;
padding:5px;
position:fixed;
word-wrap:break-word;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
margin-bottom:2em;
z-index: 1000;
box-shadow: 1px 1px 5px #888888;
right: 124px;
}

.user-uparrow-menu:after{
  /*arrow added to uparrowdiv DIV*/
content:'';
display:block;
position: absolute;
top:-20px; /*should be set to -border-width x 2 */
left:90px;
width:0;
height:0;
border-color: transparent transparent #ecf0f1 transparent;
/*border color should be same as div div background color*/
border-style: solid;
border-width: 10px;
}


/*****************LEFT MENU*******************/

.left-menu-panel {
background-color: #2980B9;
height: 92vh;
max-width: 20%;
min-width: 200px;
float: left;
}

.left-menu-wrapper {
  color: #ecf0f1;
  font-size: 18px;
  line-height: 1.5;
}

.navbar>ul>li:hover {
  background-color: #3498DB;
}

.navbar-menu {
  padding-left: 1em;
  margin-top: 30px;
}

.navbar-logo {
  display: inline;
  position: absolute;;
  bottom: 20px;
  margin-left: 15px;
}

/*****************BODY*******************/

.content-wrapper {
  flex-direction: column;
}

.main-viewport {
  width: 100%;
}

/*************DASHBOARD***************/


#dashboard-container {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  margin-top: 40px;
}

.todays-headline {
  font-size: 2.5em;
  border-bottom: 1px solid #2c3e50;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#project-title {
  font-size: 1.5em;
  font-weight: bold;
}

.dashboard-project-list {
  border-bottom: 1px solid #2c3e50;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.dashboard-task-list {
padding: 5px 0 0 10px;
cursor: pointer;
}
.dashboard-task-list:hover {
/*background-color: rgba(231, 76, 60, 0.76);*/
}

.dashboard-deadline {
  background-color: transparent;
  border: none;
}

/*************PROJECTS***************/


#project-container {
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}

.project-input-header {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
width: 99.5%;
}

.project-input-header input[type=text]{
  width: 95%;
  border: none;
  outline: none;
  transition: 0.25s;
  /*box-sizing: border-box;*/
  padding: 5px;
  background-color: #ecf0f1;
  background-image: url('/assets/addPlus(32px).png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 60px;
}


.project-input-header input[type=text]:focus{
  outline:3px solid #e74c3c;
}


.project-input-header>img{
  height: 32px;
  justify-content: center;
  margin-top: 5px;
}


.project-input-box-form {
  font-size: 2em;
  margin-left: 15px;
  border: none;
  width: 100%;
}

.project-list-container {
  width: 100%;
  padding: 0 80px;
  margin-top: 10px;

}

.project-list {
  cursor: pointer;
  border-bottom: 1px solid #2c3e50;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;

}

.project-list-item {
font-size: 1.5em;
font-weight: bold;
padding: 5px;


}

.project-list-item:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.project-list-description {
  padding:10px 0 0 20px;
}

.right-project-menu-popup {
width: 500px;
height: 92%;
right: 0px;
top: 60px;
bottom: 0px;
z-index: 330;
position: absolute;
background-color: #ecf0f1;
border-left: 1px solid #2c3e50;
}

.right-project-menu-popup-header {
  padding: 15px 0px 15px 15px
}

.right-project-menu-popup-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 15px;
}
.project-menu-form{
  width: 100%;
}

.project-menu-form input[type=text] {
  font-size: 1.5em;
  width:100%;
  border: none;
  outline: none;
  transition: 0.25s;
  /*box-sizing: border-box;*/
  padding: 10px;
  background-color: #ecf0f1;
  margin-bottom: 10px;
}

.project-menu-form input[type=text]:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.project-menu-form input:focus {
  outline:3px solid #e74c3c;
}



.project-menu-task-selections {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  padding: 5px;
}

.project-menu-task-selections select {
  flex: 2;
  background-color: #ecf0f1;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.project-menu-task-selections select:focus {
  outline:3px solid #e74c3c;
}

.project-menu-task-selections select:hover {
  background-color: rgba(231, 76, 60, 0.76);
}

.project-menu-task-selections button {
  background-color: #ecf0f1;
  background-image: url('/assets/removeX(16px).png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  border-radius: 5px;
}

.project-menu-task-selections button:hover {
  background-color: rgba(231, 76, 60, 0.76);
}
.project-menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 10px 15px;
}
.project-menu-footer button {
  background-color: #e74c3c;
  border: none;
  color: #ecf0f1;
  padding: 15px 0px 15px;
  text-decoration: none;
  /*margin: 4px 2px;*/
  cursor: pointer;  flex: 1;
  margin: 0 5px 0 5px
}

/*************TASKS***************/


#tasks-container {
  color: #2c3e50;
  overflow: hidden;
  padding: 20px;
}


.task-input-box {
display: flex;
}

.task-input-box>img{
  height: 32px;
  justify-content: center;
  margin-top: 5px;
}


#task-input-box-form {
  font-size: 2em;
  margin-left: 15px;
  border: none;
  background: transparent;

}

.task-list{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.task-list-item {
padding: 5px;
}

.task-list-item:hover {
background-color: rgba(231, 76, 60, 0.76);
}

.checked-out {
  text-decoration: line-through;
}

.right-task-menu-popup {
width: 500px;
height: 92%;
right: 0px;
top: 60px;
bottom: 0px;
z-index: 330;
position: absolute;
background-color: #ecf0f1;
border-left: 1px solid #2c3e50;
}


/*************DATEPICKER***************/

.ui-datepicker {
  background-color: green;
}

.ui-widget-header {
  background-color: gold;
}

.ui-widget-content {
  color: blue;
}
